{% extends '::base.html.twig' %}



        
        
{% block container -%}
        <div class="span10">
            <div class="containerHome" >
                
    <h1>Hall creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('hall') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
    
    {%block sideMenu %}

<ul class="nav nav-list">
                <li class="nav-header"><b>Home</b></li>
              <li class="active"><a href="">Welcome</a></li>
              <li><a href="">Add</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Hall Hall Hall</li>
              <li><a href="">Add Hall</a></li>
              <li><a href="">Edit Hall</a></li>
              <li><a href="">Delete Hall</a></li>              
            </ul>
{%endblock%}
